
{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> Notification statistics </h1>
{% endblock %}

{% block result_list %}
{% load humanize %}
<div class="results">
    <table>
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">NOTIFICATION START</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">SEND</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">DELIVERED</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>NOTIFICATION END</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.notification__start_time }} </td>
        <td> {{ row.created | intcomma }} </td>
        <td> {{ row.delivered | intcomma }} </td>
        <td> {{row.notification__end_time}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}